<div class="container">
  <div class="jumbotron">
    <h1><%= request.RestaurantName %></h1>
    <h2><%= request.TableName %></h2>
    <h3><%= request.Type %></h3>
    <h3><%= request.PayType %></h3>
    <h3><%= request.Status %></h3>
  </div>
</div>
