-var useModeClass = "{"
-useModeClass += "'rcs-table-cursor':isNothing()==false,"
-useModeClass += "'rcs-table-none':isNothing()==true,"
-useModeClass += "'rcs-table-empty':isEmpty()==true,"
-useModeClass += "'rcs-table-serving':isServing()==true,"
-useModeClass += "'rcs-table-paid':isPaid()==true,"
-useModeClass += "'rcs-table-with-request':ifHasRequest()==true,"
-useModeClass += "'rcs-table-with-book':isBooked()==true,"
-useModeClass += "}"

-var editModeClass = "{"
-editModeClass += "'rcs-table-cursor':true,"
-editModeClass += "'rcs-table-border':isNothing()==true,"
-editModeClass += "'rcs-table-none':isNothing()==true,"
-editModeClass += "'rcs-table-empty':isNothing()==false"
-editModeClass += "}"

div.text-unselectable
  material-button.rcs-table(
    ng-if="editMode==false"
    ng-class=useModeClass
    tooltip-placement="right"
    tooltip-popup-delay="100"
    tooltip-html-unsafe="{{getTooltip(table)}}")
    .rcs-table-mark(ng-if="ifHasRequest()==true").glyphicon.glyphicon-bell
      //- span
    .rcs-table-text {{getTableName()}}
  material-button.rcs-table(
    ng-if="editMode==true"
    ng-class=editModeClass)
    .rcs-table-mark(ng-if="isNothing()==true")
      span.glyphicon.glyphicon-plus
    .rcs-table-text(ng-if="isNothing()==false") {{getTableName()}}
